<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
      <Properties>
        <Property name="basePath">log/</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file" fileName="${basePath}/pcApp.log"
                     filePattern="${basePath}/pcApp-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="1">
                    <IfFileName glob="pc_app-*.log" />
                    <IfLastModified age="1m" />
                </Delete>

            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="file" level="info"/>
            <!-- lvl info -->
        </Root>
    </Loggers>
</Configuration>